/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: large;
}

body {
    background: #f1f1f1;
    height: 100dvh;
}

/* TOP BAR */
.topbar {
    background: #0d346e;
    color: white;
    padding: 14px 18px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu-btn {
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
}

.Po{
    margin-left: auto;
}

/* SIDEBAR */
.sidebar {
    width: 36%;
    background: #095ca5;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 3.5rem;
    padding-top: 10px;
    transition: left 0.3s ease;
}

.sidebar a {
    display: block;
    color: white;
    padding: 14px 18px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #1565c0;
}

.bottom-links{
margin-top: auto;
margin-bottom: 0;
}

/*Main section*/
.main{
    margin-top: 15%;
}


/* MOBILE */
@media (max-width: 768px) {
    .sidebar {
        left: -220px;
    }
    .sidebar.show {
        left: 0;
    }
    .main {
        margin-left: 0;
    }
}
@media (min-height:900px) {
    .bottom-links{
        height: auto;
    }
    
}
