body{
    margin: 10px;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100dvh;
    color:black;
}
h1{
    color: #f3eeee;
    text-align: center;
    padding: 20px 0;

}
header{
    background: #8b80ec;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.1);   
    width: 100%;
    box-sizing: border-box; }
    
header img, .tile img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(158, 157, 157, 0.1);     
    
}
nav{
    background: #8b80ec;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);   
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: right;
    padding: 5px 0;
}                                       
div{
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    color: #03ff03;
    text-decoration: none;
   
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-direction: row;
        display: flex;
}
a:hover{
    background-color: aliceblue;
    transition-delay: 0.1s;
    transition-duration: 0.01s;
}
a:active{
    color: #ffffff;
    background-color: #9fb4ee;
}       

footer{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);   
    width: 100%;
    box-sizing: border-box; 
    text-align: center;
    padding: 10px 0;    
    display: flex;
    flex-direction: row;
    align-items: center;            
    justify-content: center;
}

.tile{
    background-color: #8b80ec;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 10px;
}
.tile:hover{
    transform: scale(1.05);
}
div:hover{
    transform: scale(1.02);
}
.get-started{
    text-align: left;
    margin: 20px 0;
    justify-content: left;
    height: auto;
    display: flex;
    flex-direction: column;
}
footer img{
    width: 35px;
    height: 435x;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(158, 157, 157, 0.1);     
}   
footer a{
    width: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
}
footer a:hover img{
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}