header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto ;
    margin-bottom: 0;
    margin-top:0;
}
h1{
    color: #eaf7c7;
    text-align: center;
    font: 35px 'Arial Black', Gadget, sans-serif;
    padding-right: 10px;
}

div{
    height: 100dvh;
    width: 100%;

}
.tagline{
    color: #f3eeee;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;

}

.links{
   margin: auto;
    padding-right: 30px;
    box-sizing: border-box;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-image: linear-gradient(360deg, rgb(175, 250, 157), rgb(89, 89, 235) );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.1);   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    align-items: center;
}
    

header img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(158, 157, 157, 0.1);     
    padding: 10px;
}         

.tile img {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(158, 157, 157, 0.1);     
    padding: 10px;
}

div{
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: max-content;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}
a{
    color: #75f875;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: auto;
    width: auto;
    height: max-content;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: auto;
}
a:hover{
    background-color: aliceblue;
    transition-delay: 0.1s;
    transition-duration: 0.01s;
}
a:active{
    color: #ffffff;
    background-color: #9fb4ee;
}       

.Get{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:50px ;
    cursor: pointer;
    border-radius: 12px;
}
.Get:hover{
    background-color: #45a049;
}   
.Get:active{
    background-color: #3e8e41;
}
.get-started p{
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    border-radius: 20px;
}
@media (min-width:400px){
    div{
        width: 100%;
        padding: 1rem;
    }
    body{
        width: 100%;
    }
}

@media (min-height:900){
    div{
        height: auto;
    }
    body{
        height: 100dvh;
    }
    header{
        height: 60dvh;
    }
}